<div class='row'>
    <div class="col s12 m4 offset-m4">
        <div class="card hoverable">

            <div class="card-content center">
                <span class="card-title">Page de connexion</span>
                <p><em>{{message}}</em></p>
            </div>

            <form #loginForm="ngForm">
                <div>
                    <label for="name">Name (= pikachu)</label>
                    <input type="text" id="name" [(ngModel)]="name" name="name" required>
                </div>
                <div>
                    <label for="password">Password (= pikachu)</label>
                    <input type="password" id="password" [(ngModel)]="password" name="password" required>
                </div>
            </form>

            <div class="card-action center">
                <a (click)="login()" class="waves-effect waves-light btn"  *ngIf="!auth.isLoggedIn">Se connecter</a>
                <a (click)="logout()" *ngIf="auth.isLoggedIn">Se déconnecter</a>
            </div>
        </div>
        <div>
                
            <h6><strong>Cours UDEMY "Développer Votre Première Application avec Angular" de Simon DIENY (Formateur Javascript Fullstack)</strong></h6>
            <h6>Notions Angular apprises :</h6>
            <ol>
                <li>Les composants Web</li>
                <li>Les Templates d'Angular</li>    
                <li>Les Directives</li>
                <li>Les Pipes</li>
                <li>Les Routes</li>
                <li>Les Modules</li>
                <li>Les Services</li>
                <li>Les Formulaires</li>
                <li>La programmation réactive</li>
                <li>Requêtes HTTP (Les services CRUD / API Rest via la librairie HTTP Client Module)</li>
                <li>Autocomplétion (Un service personnalisé sur champ de recherche avec la librairie RxJS)</li>
                <li>Authentification avec formulaire de connexion</li>
                <li>Déploiement avec Firebase Hosting de Google</li>
            </ol>
            <ul>
                <li>Bonus : ECMAScript 2015 ES6 (promesses, let/const, fonctions fléchées, Set/Map,...)</li>
            </ul>

            <strong>Le Github : </strong><a href="https://github.com/franckciccotti/angular-pokemon-app" target='blanc' >https://github.com/franckciccotti/angular-pokemon-app</a>

        </div>
    </div>
</div>
